body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-container {
  height: 90vh;
}

.event-info-container {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.event-info-container > div {
  width: 60%;
  min-height: 40vh;
  height: auto;
}

li {
  margin: 10px;
}

.profiles-container {
  max-height: 40vh;
  overflow-y: scroll;
  background: rgb(218, 218, 218);
}

@media (max-width: 425px) {
  .event-info-container > div {
    width: 100%;
  }
}
